extends ./layout
block content
    div.container
        h1=message
        p Litrides is a Bitcoin Lightning powered rideshare platform
        div
            h2 Pick Ride
            form(method='post', action='/invoice')
                div.content
                    h4 Available Rides
                    input(type="radio", name="product", value='{"name": #{info.make}, "price": 0.01}')
                    table(style='width:100%', border='1')
                        thead
                            tr
                                th Vehicle Make
                                th Vehicle Model
                                th Vehicle Year
                                    tbody
                                        tr 
                                            th #{info.make}
                                            th #{info.model}
                                            th #{info.year}
                    p
                        input(type="submit", class="btn btn-primary", name="Pay With Lightning")